.navbar{
    /* width: 100%;
    height: 100%; */
}

.navbar__container{
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar__container__close-button{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    top: 0;
    transition: 850ms;    
}

.nav-menu.active {
    left: 0;
    width: 90%;
    transition: 250ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    cursor: pointer;
}

.nav-text a {
    text-decoration: none;    
    font-size: 18px;
    width:  95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    border-bottom: 1px solid rgb(40,176,217);
    /* color: white; */
}

.nav-text{
    color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}