.main{    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;    
}

a{
    color: black;
}

.header{
    width: 100%;
    /* min-height: 70px; */
    max-height: 10%;
    flex-shrink: 0;
}

.container{
    max-height: 90%;
    width: 100%;
    flex-grow: 1;
    display: flex;    
}

.sidebar{
    min-height: 100%;
    min-width: 15%;
    border-right: 1px solid black;
    flex-shrink: 0;
    position: relative;
}

.container__open-sidebar-button{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    
}
.container__close-sidebar-button{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;    
}


.content{
    max-height: 100%;
    flex-grow: 1;
    border: 1px solid red;
    padding: 1px;
}
